# Gradle files
.gradle/
build/
**/build/

# Android Studio / IntelliJ files
.idea/
*.iml
*.ipr
*.iws
out/

# Local configuration
local.properties

# OS files
.DS_Store
Thumbs.db

# Release files
mobile/release
tv/release